PLATFORM=ios
ENVIRONMENT=local

TEST_EMAIL=
TEST_PASSWORD=
TEST_PRODUCT=In
TEST_PRODUCT_NAME=Ingrid Running Jacket

TEST_ADDRESS_NAME=EBAC Cliente
TEST_ADDRESS_PHONE=11999999999
TEST_ADDRESS_ZIP=01310100
TEST_ADDRESS_STREET=Avenida Paulista
TEST_ADDRESS_NUMBER=1000
TEST_ADDRESS_CITY=Sao Paulo
TEST_ADDRESS_STATE=SP

IOS_DEVICE_NAME=iPhone 15
IOS_PLATFORM_VERSION=17.2

SAUCE_USERNAME=
SAUCE_ACCESS_KEY=
SAUCE_IOS_APP=storage:filename=LojaEBAC.ipa
SAUCE_BUILD=appium-build-ebacshop-ios
